In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Date-time index

In [4]:
str1 = '2021-04-07'
today = pd.to_datetime(str1)

In [5]:
today

Timestamp('2021-04-07 00:00:00')

In [6]:
strs = ['April 7, 2022', 'Apr. 7, 2022','Thursday, April 7, 2022', '7 April, 2022']

In [8]:
for date in strs:
    print(pd.to_datetime(date))

2022-04-07 00:00:00
2022-04-07 00:00:00
2022-04-07 00:00:00
2022-04-07 00:00:00

In [9]:
str2 = '4/7/2022 11:22:35'

In [10]:
pd.to_datetime(str2)

Timestamp('2022-04-07 11:22:35')

In [13]:
str = str2 = '4/7/2022 X 11:22:35'

pd.to_datetime(str2, format='%m/%d/%Y X %H:%M:%S')

Timestamp('2022-04-07 11:22:35')